%p
  = link_to "Add a website", new_website_path

%p
  - unless @websites.blank?
    Websites
    %ul
    - @websites.each do |w|
      %li
        = link_to w.site_description, website_path(w)

%p
  = link_to "Create Search Set", new_search_set_path

- unless @search_sets.blank?
  Search Sets
  %ul
  - @search_sets.each do |set|
    %li
      = link_to set.title, search_set_path(set)
