%p
	Website Params on
	= @website.base_url

- unless @website.website_params.blank?
	%ul
		- @website.website_params.each do |s|
			= link_to s.url, website_search_path(@website, s)

%p
	= link_to "New Param", new_website_param_path(@website)